.HomePage{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
  }

  .HomePage-child{
    height: 500px;
  }
  
  #mid{
    width:55%;
    height: 100%;
  }
  
  .Post{
    padding-left: 20px;
  }
  
  .name{
    margin-left: auto;
    font-size: 30px;
    font-weight: bold;
  }

  .username{
    margin-left: auto;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.5;
  }